body {
  background: #e6e5e0;

}


.container {
  margin: 40px auto;
  width: 720px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px 20px;


}

th {
  text-align: left;
}

.page-header{
  border:1px solid;
  padding: 10px;
}

nav {
  box-shadow: 2px  2px  2px 2px  #888;
  width: 100%;
  top: 0px;
  position: fixed;  
  padding: 10px 15px 10px 15px;
  height: 40px;
  background: white ;
}

footer{
  background-color: yellow;

}

nav h1 {
  float: left;
  
}
nav h1 a {
  color:gray;
}

nav h1 a:hover {
  color: black;
}

.game_stats p {
  display: inline-block;
  width: 60px;
}

h1 {

  margin: 0px;
}

.navlinks {
  width: 250px;
  padding-top: 10px;
  float: right;

}

.navlinks a {
  color: gray;
}

.navlinks a:hover {
  color: black;
}



nav a {

  padding-right: 10px;
  text-decoration: none;

}

#bar-example{
  width-size: 100%;
}

#game_deck_container {

  border: 3px solid gray;
  padding: 10px;
}

.button {
  padding: 10px 15px;
  background: green;
  color: #FFF;
  border-radius: 9px;
  box-shadow: 2px  2px  2px 2px  #888;
  font-family: 'Marcellus SC', serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Marcellus SC', serif;
}

.deck_container {
  background-color: white;
}

.deck_container .button{
  float: right;
}
