.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
nav {
  background: yellow;
  width: 100%;
  display: inline-block;
}
footer{
  background-color: yellow;

}

nav h1 {
  float: left;

}

nav a {

  float: right;
}
