body {
  margin: 0px;
}

th {
  text-align: left;
}

.page-header{
  border:1px solid;
  padding: 10px;
}

nav {

  width: 100%;
  padding: 10px;
  height: 40px;
  top: 0;
  position: fixed;
  background: black ;
}


footer {
  margin: 20px auto;
  width: 59%;
  padding: 0px;
  border-top: 1px solid #ddd;
  color: black;
  padding-top: 10px;
}


footer a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


}


nav h1 {
  float: left;
  
}
nav h1 a {
  color: white;
}

nav h1 a:hover {
  color: gray;
}

h1 {

  margin: 0px;
}

nav a {
  padding-right: 10px;
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  color: white;
}

form {
  padding: 0px;
  padding-top: 0px;
}

.container {
  margin: 100px auto;
  width: 55%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px 50px;
}


.game_stats p {
  display: inline-block;
  width: 60px;
}



.navlinks {
  width: 140px;
  padding-top: 10px;
  float: right;

}

.navlinks a {
  color: white;
}

.navlinks a:hover {
  color: gray;
}

.nav-signin {
 /*float: right;*/
  display: inline-block;

  float: right;
  width: 440px;

  line-height: 40px;
}

.button-signin {
  color: #1492d6;
  outline: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}




.deck_container {
  background-color: white;
}

.deck_container .button{
  float: right;
}
.game_deck_board{
  border:2px solid;
  margin: 5px 5px 5px 5px;
  padding:5px 5px 10px 5px;
}
.cards{
  border:1px solid;
  padding:5px;
  margin: 5px;
}

.question-box{
  border: 1px solid;
  padding:5px;
  margin: 5px;
}


.signin-form {
  margin: 0px;
  width: 156px;
  border: 2px solid #dadada;
  border-radius: 3px;
}

.signin-form:focus { 
    outline: none;
    border-color: #9ecaed;
    /*box-shadow: 0 0 10px #9ecaed;*/
}

#question h3{
  text-align: center;
}

#question p {
  text-align: center;
}

#answer h3{
  text-align: center;
}

#answer p {
  text-align: center;
}


#bar-example{
  width-size: 100%;
}

#game_deck_container {

  border: 3px solid gray;
  padding: 10px;
}

