<div class="question-box">
  <form method='post' action='/game/attempt'>
    
    <input type="hidden" name="game_id" value="<%= @current_game_id %>" >
    <input type="hidden" name="card_id" value="<%= @current_card.id %>" >

    <div id="question">
      <h3> Question: <%= @current_card.question %></h3>
      
    
  
    <p><input type="button" class='button' id='show-answer-button' value="Show Answer" ></p>
    </div>


    <div id="answer">
      <h3> Answer:<%= @current_card.answer %></h3>
      <p><input class='button' type="submit" name="status" value="true"><input class='button' type="submit" name="status" value="false"></p>
    </div>

  </form>
</div>
