<div id='game_deck_container'>
  <% deck_all = list_all_decks %>

    <% if deck_all %>
      <% deck_all.each do |deck| %>
      <div class="game_deck_board">
        <form method="post" action="/game/create">  
          <h1><%= deck.name %></h1>
          <input type='hidden' name='game_deck_id' value='<%= deck.id %>'>
          <input type='hidden' name='game_deck_user_id' value='<%= @user.id %>'>
          <input type='submit' value='play!'>          
        </form>
      </div>
      <% end %>
    <% end %>
</div>