<div id='game_play_question'>
  <p><%= @deck_of_cards[@deck_of_cards_index].question %></p>    
</div>

<div id='game_play_answer'>
  <p><%= @deck_of_cards[@deck_of_cards_index].answer %></p>    


  <form method='post' action='/game/attempt'>
    <input type='hidden' name="game_play[game_id]" value='<%= @game_id %>'>
    <input type='hidden' name="game_play[card_id]" value='<%= @deck_of_cards[@deck_of_cards_index].id %>'>
    <input type="submit" name="game_play[status]" value="true">
    <input type="submit" name="game_play[status]" value="false">
  </form>
</div>