<div class="container">

  <div class="page-header">
    <h1><%= @deck.name %> : New Question</h1>

  </div>

    <form class ="newcard" method="post" action="/card/new">
        
        <label for="question">Card Question</label>
        <input type="text" name="question"><br>
        <label for="answer">Card Answer</label>
        <input type="text" name="answer"><br>
        <input type="hidden" type="number" value="<%= @deck.id %>" name="deck_id">
        <button class="button create-card" type="submit">Create Card</button>
        <p style="color: red"><%= @error %></p>
    </form>

  </div>
