
  <div class="page-header">
    <h1>Card Index</h1>
  </div>

<ul>  
  <% @cards.each do |card| %>
  <li> Deck: </li>
    <ul>
      <li>Question : <%= card.question %></li>
      <li>Answer:<%= card.answer %></a></li>
    </ul>  
  <% end %>
</ul>
