<div class="container">
  <div class="page-header">
    <h1><%= @deck.name %></h1>
  </div>

<ul>  
  <% @deck.cards.each do |card| %>
  <li>Question : <%= card.question %></li>
    <ul>
      <li>Answer:<%= card.answer %><a href="/deck/<%= @deck.id %>"> placeholder</a></li>
    </ul>  
  <% end %>
</ul>

</div> 



