<div class="container">
  <div class="page-header">
    <h1><%= @deck.name %></h1>
  </div>

<ul>  
  <input class="btn btn-large btn-primary" type="button" value="Add Card" onclick="location.href='/card/<%= @deck.id%>/new';">
  <% @deck.cards.each do |card| %>

  <% @card = card %>
  <%= erb :_card, :layout => false %>  
  <% end %>
</ul>

</div> 



