<div class="deck_container">

  <div class="page-header">

    <input id="add-card" class="button" type="button" value="Add Card" onclick="location.href='/card/<%= @deck.id%>/new';">

    <h1><%= @deck.name %></h1>
  </div>
  <ul>  
    <% @deck.cards.each do |card| %>
    <% @card = card %>
    <%= erb :_card, :layout => false %>  
    <% end %>
  </ul>
</div> 



