<div class="container">

  <div class="page-header">
    <h2><%= @deck.name %></h2> 

    <form method='post' action='/game/quit'>
      <input class='btn btn-small btn-primary' type='submit' value='Exit Game'> 
    </form>
    
  </div>
  <%= erb :_game_qa, :layout => false %>

</div>
