<div class="container">

  <div class="page-header">
    <h1>Game Statistics </h1>
  </div>
  <div class="game_stats">
    <table>
      <tr>
        <td>game id</td>
        <td>deck name</td>
        <td>total cards</td>
        <td>correct</td>
        <td>incorrect</td>
      </tr>

      <% @attempts_history.each do |game_id, game_information| %>
      <tr>
        <td>
          <%= game_id %>
        </td>
        <% game_information.each do |stat| %>
        <td>
          <%= stat %>
        </td>
        <% end %>
        <td>
          <a href="/user/stats/<%= game_id %>">See Stats</a>
        </td>
      </tr>
      <% end %>

    </table>
  </div>

</div>
