<div class="container">
  <div class="page-header">
    <h1>Log In</h1>

  </div>

    <form  method="post" action="/user/login">
        
        <h4>Username</h4>
        <input type="text" class="input-block-level-form" type="text" name="username">

        <h4>Password</h4>
        <input type="password" class="input-block-level-form" name="password">

        <p></p>
        <button class="button" type="submit">Sign in</button>
       
    </form>
    <p style="color: red"><%= @error %></p>
</div> 


