
  <div class="page-header">
    <h1>Log In</h1>

  </div>

      <form class="nav-signin" method="post" action="/user/login">
        <p style="color: red"><%= @error %></p>
        <input type="text" class="signin-form" type="text" name="username" placeholder="username">
        <input type="password" class="signin-form" name="password" placeholder="password">
        <button class="button" type="submit">Sign in</button>       
      </form>

    <p style="color: red"><%= @error %></p>


