<div class="container">
  <div class="page-header">
    <h1>New User</h1>
    <p><a href="/login">Login</a></p>
  </div>



    <form  method="post" action="/user/signup">
        
        <h4>Username</h4>
        <input type="text" class="input-block-level-blog" type="text" name="username">

        <h4>Email</h4>
        <input type="text" class="input-block-level-blog" type="text" name="email">

        <h4>Password</h4>
        <input type="password" class="input-block-level-blog" name="password">

        <p></p>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>

        <p style="color: red"><%= @error %></p>
    </form>
</div> 


