<div class="container">
  <div class="page-header">
    <h2>Hello <%= @user.username %></h2>
    <h3>See my stats</h3>
     <input class="btn btn-large btn-primary" type="button" value="Create Deck" onclick="location.href='/deck/new';">
  </div>
  

  <%= erb :_game_board, :layout => false %>


       

</div> 


