<div class="container">
  <div class="page-header">
    <h1>Hello <%= @user.username.capitalize %>! Feeling smart today?</h1>
    <a href="/user/stats"><h4>See my stats</h4></a>
     <input class="button" type="button" value="Create Deck" onclick="location.href='/deck/new';">
  </div>
  

  <%= erb :_game_board, :layout => false %>


       

</div> 


